body{
    box-sizing: border-box;
    margin:0;
    overflow-y:scroll;
    overflow:hidden;
    scrollbar-color: rgba(100,110,110,0.2) rgba(255,240,240,0.5);
}
body::-webkit-scrollbar{
    width: 0.5vw;
}
body::-webkit-scrollbar-track {
    background:rgba(255,240,240,0.5);
    border-radius: 0.5rem;
}
body::-webkit-scrollbar-thumb {
background-color: rgba(100,110,110,0.2); 

border:0.35rem solid rgba(255,240,240,0.5);
border-radius: 0.5rem;
}
.navbar-toggler-icon {
    background-image: url("https://img.icons8.com/material-outlined/24/000000/drag-list-down.png");
  }
  #l1{
      padding-top: 1rem;
  }
.sp{
      padding-right: 2.4rem;
  }
  .nav-link img{
      width: 20px;
  }